#logo{
    width: 100px;
}
@keyframes lineMove {
    0% {
        transform: translate(0, 0);
    }
    25% {
        transform: translate(250px, 0);
    }
    50% {
        transform: translate(250px, 400px);
    }
    75% {
        transform: translate(0, 400px);
    }
    100% {
        transform: translate(0, 0);
    }
}
@keyframes colorChange {
    0% {
        background-color: rgb(84, 206, 47);
    }
    50% {
        background-color: rgb(42, 42, 46);
    }
    100% {
        background-color: rgb(84, 206, 47);
    }
}
@keyframes colorChange2 {
    0% {
        background-color: rgb(42, 42, 46);
    }
    50% {
        background-color: rgb(84, 206, 47);
    }
    100% {
        background-color: rgb(42, 42, 46);
    }
}
body{
    animation: colorChange infinite 6s;
}
.line{
    width: 180px;
    border: 1px solid black;
    border-style: dashed;
}
#box{
    color: blanchedalmond;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    background-color: beige;
    border: 2px solid black;
    border-radius: 5%;
    width: 250px;
    height: 400px;
    padding: 3px;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: colorChange2 infinite 6s;
}
#sample{
    position: absolute;
    top: 17%;
    left: 32%;
    animation: lineMove infinite 5s;    
    color: blue;
}
#op1,#op2{
    width: 165px;
    height: auto;
}
#sumbitBtn{
    width: 100px;
    height: 30px;
    margin: 10px;
    border-radius: 5%;
    border: 1px solid black;
    background-color: lightgray;
    font-weight: bold;
    cursor: pointer;
}
